# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.streamlit/secrets.toml
/.streamlit/secrets.toml
**/secrets.toml
**/.streamlit/secrets.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Distribution / packaging
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~
.project
.pydevproject
.settings/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs and databases
*.log
*.sqlite
*.db

# Local development settings
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media and static files (customize if needed)
media/
static/
*.jpg
*.jpeg
*.png
*.gif
*.ico
*.pdf
*.zip

# Virtual Environment
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json